
#loginContainer {
    margin-top: 70px;
    text-align: center;
}

#loginContainer h1 {
    font-size: 54px;
    font-weight: 600;
}

#loginContainer .loginForm {
    margin: 30px;
    border: 1px solid rgba(0,0,0,0.30);
    padding: 30px;
}
#loginContainer .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loginContainer .input-group label {
    font-size: 22px;
    margin: 15px;
}
#loginContainer .input-group input {
    width: 300px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.30);
    font-size: 16px;
}
#loginContainer button {
    margin: 15px;
    padding: 10px;
    width: 300px;
    border: none;
    cursor: pointer;
    background: rgb(26, 26, 26);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#loginContainer button:hover {
    margin: 15px;
    padding: 10px;
    width: 300px;
    border: none;
    cursor: pointer;
    background: rgb(255, 100, 100);
    transition: linear 200ms;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}